.game-board {
  position: absolute;
  top: 0; /* Position at the top of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.ui {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

button {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50px;
}

button:hover {
  background-color: #45a049;
}

h2 {
  margin: 5px;
}
